header {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fffd;
  transition: 0.2 ease;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    .logo {
      img {
        transition: 0.5s ease;
        width: 100px;
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      label {
        display: none;
      }

      .chaveMenu {
        width: 48px;
        height: 48px;
        position: absolute;
        left: 0;
        z-index: 15;
        opacity: 0;
      }

      .iconeMenu {
        position: relative;
        z-index: 14;
        .plate {
          height: 48px;
          width: 48px;
        }
        .burger {
          filter: url(#gooeyness);
        }
        .x {
          transform: scale(0);
          transition: transform 400ms;
          .line {
            stroke-width: 5.5px;
          }
        }
        .line {
          fill: none;
          stroke: #000;
          stroke-width: 6px;
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 50%;
          transition: stroke-dasharray 500ms 200ms,
            stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
        }
      }
      .chaveMenu:checked ~ .iconeMenu {
        .plate {
          .line {
            transition: stroke-dasharray 500ms, stroke-dashoffset 500ms,
              transform 500ms;
          }
          .x {
            transform: scale(1);
            transition: transform 400ms 350ms;
          }
          &.plate4 {
            .line {
              transition: transform 400ms;
            }
            .line1 {
              transform: translateX(18px) translateY(-3px) rotate(-45deg)
                scale(0.7);
            }
            .line2 {
              transform: translateX(-18px) translateY(-3px) rotate(45deg)
                scale(0.7);
            }
            .line3 {
              transform: translateY(0px) rotate(45deg) scale(0.7);
            }
            .line4 {
              transform: translateY(0px) rotate(-45deg) scale(0.7);
            }
            .line5 {
              transform: translateX(18px) translateY(3px) rotate(45deg)
                scale(0.7);
            }
            .line6 {
              transform: translateX(-18px) translateY(3px) rotate(-45deg)
                scale(0.7);
            }
            .x {
              transition: transform 400ms 100ms;
              transform: scale(1);
            }
          }
        }
        .plate4 {
          .x {
            transition: transform 400ms;
          }
          .line {
            transform-origin: 50%;
            transition: transform 400ms 100ms;
          }
        }
      }

      .chaveMenu ~ .itensMenu {
        display: none;
      }

      .chaveMenu:checked ~ .itensMenu {
        display: flex;
      }

      .itensMenu {
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background: #fffd;
        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          li {
            text-align: center;
            margin: 24px;
            a {
              color: #000;
              font-weight: 200;
              font-size: 2em;
            }
          }
        }
      }
    }
  }
}

header.topoPequeno {
  transition: 0.2 ease;
  background: #fffd;
  nav {
    padding: 6px;
    .logo {
      svg {
        transition: 0.5s ease;
        width: 75px;
      }
    }
  }
}

section {
  padding: 21px 13px;
  position: relative;
}

div.link:not(#inicio) {
  padding-top: 55px;
}

section.a {
  .texto {
    height: 100%;
    padding: 13px 0;
    h1 {
      line-height: 1em;
      margin: 21px 0 33px;
      color: #d81f25;
    }
    .logo {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 21px 0;
      img {
        width: 55px;
        margin: 0 8px;
        &.p {
          width: 34px;
        }
      }
    }
  }
  .videoBack {
    width: calc(100% + 26px);
    height: 233px;
    position: relative;
    margin-top: -21px;
    left: -13px;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

section.ba {
  background: linear-gradient(45deg, #b4050b, #d81f25);
  h2 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 100;
  }
  .itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 21px 0;

    .item {
      width: 144px;
      padding: 8px;
      margin: 8px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px 1px #0003;
      .icon {
        padding: 8px 33px;
      }
      p {
        text-align: center;
        font-weight: 800;
      }
    }
  }
}
section.bb {
  .imagemMapa {
    .imagem {
      margin: 0 0 21px;
    }
  }
}
section.c {
  .infoJardins {
    .texto {
      padding: 13px;
      h2 {
        margin: 21px 0;
        position: relative;
        color: #008241;

        &::before {
          content: " ";
          width: 144px;
          height: 2px;
          position: absolute;
          bottom: -8px;
          left: -13px;
          background: #d81f25;
        }
      }
      p {
        font-weight: 100;
      }
    }
    .carrossel {
      width: 100%;
      position: relative;

      &.active {
        width: 100%;
        position: fixed;
      }

      .slider {
        width: 100%;
        height: 233px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        overflow: hidden;
        .slide {
          height: 100%;
          position: absolute;
          img {
            opacity: 0;
            transform: scale(1);
            transition: 0.5s ease, transform 4s ease-in;
          }
          &.active {
            display: block;
            opacity: 1;
            img {
              opacity: 1;
              transform: scale(1.05);
              transition: 0.5s ease, transform 4s ease-in;
            }
          }
        }
      }
      .modal {
        display: none;
      }

      .baseImg {
        width: 100%;
        height: 233px;
        position: relative;
        border-radius: 10px;

        .imagem {
          width: 100%;
          height: 100%;
          margin: auto;
          opacity: 0.1;
        }
      }

      .control {
        width: 100%;
        height: 233px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;

        &.active {
          width: 100%;
          height: 100vh;

          > * {
            width: 89px;
            height: 100%;
            padding: 21px;
            position: fixed;
            top: 0;
            z-index: 110;
            border-radius: 0;
          }

          ~ .modal {
            width: 100%;
            height: 100%;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            display: flex;
            background: #000a;

            .fechar {
              width: 55px;
              padding: 13px;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translate(-50%);
              z-index: 120;
            }
          }

          ~ .slider {
            width: 55%;
            height: 55%;
            max-height: 610px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 105;

            .slide {
              width: 100%;
            }
          }
        }

        > * {
          width: 55px;
          height: 100%;
          padding: 13px;
          position: absolute;
          z-index: 5;
          border-radius: 10px;
        }
        .prev {
          left: 0;
          background: linear-gradient(90deg, #0008, transparent);
        }
        .next {
          right: 0;
          background: linear-gradient(-90deg, #0008, transparent);
        }
      }
      .indicator {
        width: 100%;
        border-radius: 10px;
        overflow: scroll;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          display: none;
        }
        .roll {
          width: max-content;
          display: flex;
          div {
            width: 144px;
            height: 89px;
            margin: 2px;
            overflow: hidden;
            transition: 0.5s ease;
            &.active {
              box-shadow: 0px 0px 10px #000 unset;

              img {
                opacity: 1;
                transform: scale(1.1);
                transition: 0.5s ease;
              }
            }

            img {
              opacity: 0.75;
              transition: 0.5s ease;
            }
          }
        }
      }
    }
    .plantas {
      > div {
        margin: 13px 0;
        h3 {
          padding: 5px 13px;
        }
        .imgPlantas {
          display: grid;
          grid-template-columns: 50% 50%;
          margin-top: 21px;

          .imagemLocal {
            position: relative;
            padding: 3px;

            .modalPlanta {
              display: none;
            }

            .baseImg {
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: -10;
              opacity: 0.1;
              .baseImagem {
                height: 100%;
              }
            }

            &.active {
              .modalPlanta {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                margin: 0;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                background: #000d;

                .fechar {
                  width: 55px;
                  padding: 13px;
                  z-index: 120;
                }
              }

              .imagem {
                width: 55vw;
                height: calc(55vw * 0.7);
                max-height: 610px;
                position: fixed;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 105;
              }
            }
          }
        }
      }
    }
  }
}
section.da {
  padding: 0;
  position: sticky;
  bottom: 0;
  z-index: 5;
  .linkForm {
    padding: 8px;
    background: #d81f25;
    border-radius: 10px 10px 0 0;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 33px;
        margin: 0 13px;
      }
      p {
        padding: 5px;
        color: #fff;
        text-align: center;
        font-weight: 100;
      }
    }
  }
}

section.db {
  color: #fff;
  background: #008241;

  .texto {
    padding: 21px;
    height: fit-content;
    p {
      margin: 13px 0 34px;
    }
  }
  .formulario {
    padding: 13px;
    color: #fff;

    p {
      margin: 13px 0 34px;
    }

    form {
      display: flex;
      flex-direction: column;
      input,
      textarea {
        width: 100%;
        padding: 5px 8px;
        margin: 8px 0;
        background: none;
        color: #fff;
        border: 1px solid #fff5;

        &::placeholder {
          color: #fff9;
        }
      }
      .meioContato {
        display: flex;
        margin: 0 0 34px;
        .option {
          width: calc(100% / 3);
          height: 20px;
          position: relative;
          input {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            &:checked ~ label {
              background: #d81f25;
            }
          }

          label {
            width: fit-content;
            padding: 8px 13px;
          }
        }
      }
      button {
        justify-self: flex-end;
        padding: 8px 13px;
        margin-top: 13px;
        background: #b4050b;
        color: #fff;
        border-radius: 5px;
        font-size: 1.25em;
      }
    }
  }
}

section.e {
  width: 55px;
  height: 55px;
  padding: 13px;
  border-radius: 50%;
  position: fixed;
  bottom: 69px;
  right: 21px;
  z-index: 1000;
  background: #1ebea5;
  padding: 13px;
  border-radius: 50%;
  box-shadow:  2px 5px 10px 5px #0002;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  
}

footer {
  padding: 12px;
  background: #0001;
  text-align: center;

  .logo {
    img {
      width: 125px;
    }
  }

  > * {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #fff;

    p,
    li {
      margin-bottom: 6px;
    }
  }

  > *:last-child {
    padding-bottom: 0;
    margin-bottom: 12px;
    border-bottom: none;
  }
}

@media (orientation: portrait) {
  section.c .infoJardins .carrossel .control.active ~ .slider {
    width: 89%;
    height: 34%;
    max-height: 377px;
  }
  section.c .infoJardins .plantas div .imgPlantas .imagemLocal.active .imagem {
    width: 89vw;
    height: calc(89vw * 0.7);
    top: 50%;
  }
}

@media screen and (min-width: 740px) {
  header {
    nav {
      max-width: 1520px;
      margin: auto;

      .logo {
        svg {
          width: 175px;
        }
      }

      .menu {
        .chaveMenu,
        .iconeMenu {
          display: none;
        }

        .chaveMenu ~ .itensMenu {
          display: flex;
        }

        .itensMenu {
          position: relative;
          background: none;
          ul {
            flex-direction: row;
            li {
              text-align: center;
              margin: 12px;
              margin-right: 24px;
              a {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }

  header.topoPequeno {
    nav {
      .logo {
        svg {
          width: 125px;
        }
      }
      .itensMenu {
        background: none;
      }
    }
  }

  section {
    padding: 21px 13px;
    position: relative;
  }

  div.link:not(#inicio) {
    padding-top: 55px;
  }

  section.a {
    .container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
    .texto {
      width: 40%;
      padding: 21px;
      .logo {
        img {
          width: 89px;
        }
      }
    }
    .videoBack {
      width: 60%;
      padding: 21px;
      height: 377px;
      margin-top: 0;
      left: 0;
    }
  }

  section.ba {
    background: linear-gradient(45deg, #b4050b, #d81f25);
    h2 {
      padding: 33px;
    }
    .itens {
      justify-content: center;

      .item {
        width: 233px;
        padding: 13px 34px;
        margin: 13px;
      }
    }
  }
  section.bb {
    .container {
      display: grid;
      grid-template-columns: 55% 45%;
      align-items: center;
    }
    .imagemMapa {
      padding: 13px 34px;
      .imagem {
        margin: 0;
      }
    }
  }
  section.c {
    .infoJardins {
      display: flex;
      align-items: center;
      flex-flow: row-reverse;
      margin-bottom: 89px;
      .texto {
        padding: 34px;
      }
      .carrossel {
        width: 55%;

        .slider {
          height: 377px;
        }

        .baseImg {
          height: 377px;
        }

        .control {
          height: 377px;
        }
      }

      &.plant {
        flex-wrap: wrap;
        .texto {
          width: 100%;
        }
        .plantas {
          width: 100%;
          display: flex;
          > div {
            width: calc(100% / 3);
            margin: 13px 0;
            text-align: center;
            h3 {
              font-weight: 100;
            }
            .imgPlantas {
              padding: 0 21px 0 0;
            }
          }
        }
      }
    }
  }
  section.da {
    .container {
      width: 50%;
    }
  }

  section.db {
    .container {
      display: grid;
      grid-template-columns: 55% 45%;
      align-items: center;
    }

    .texto {
      padding: 21px 34px 21px 21px;
    }
    .formulario {
      padding: 33px 21px;
      margin: 33px 21px;
      background: #0f7a45;
      box-shadow: 0 0 10px 5px #fff2;
      border-radius: 20px;
      form {
        * {
          font-weight: 200;
        }
        button {
          width: fit-content;
          align-self: center;
          margin-top: 55px;
          font-size: 1em;
        }
      }
    }
  }

  

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

    * {
      font-size: 0.9em;
    }

    > * {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: none;
    }

    > *:last-child {
      width: 100%;
      padding-top: 12px;
      border-top: 1px solid #fff;
    }
  }
}

@media screen and (min-width: 820px) {
}
