@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

header {
  width: 100%;
  height: fit-content;
  position: fixed;
  z-index: 10;
  background: #fff;
  transition: 0.2 ease;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    .logo {
      svg {
        transition: 0.5s ease;
        width: 100px;
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      label {
        display: none;
      }

      .chaveMenu {
        width: 48px;
        height: 48px;
        position: absolute;
        left: 0;
        z-index: 15;
        opacity: 0;
      }

      .iconeMenu {
        position: relative;
        z-index: 14;
        .plate {
          height: 48px;
          width: 48px;
        }
        .burger {
          filter: url(#gooeyness);
        }
        .x {
          transform: scale(0);
          transition: transform 400ms;
          .line {
            stroke-width: 5.5px;
          }
        }
        .line {
          fill: none;
          stroke: black;
          stroke-width: 6px;
          stroke-linecap: round;
          stroke-linejoin: round;
          transform-origin: 50%;
          transition: stroke-dasharray 500ms 200ms,
            stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
        }
      }
      .chaveMenu:checked ~ .iconeMenu {
        .plate {
          .line {
            transition: stroke-dasharray 500ms, stroke-dashoffset 500ms,
              transform 500ms;
          }
          .x {
            transform: scale(1);
            transition: transform 400ms 350ms;
          }
          &.plate4 {
            .line {
              transition: transform 400ms;
            }
            .line1 {
              transform: translateX(18px) translateY(-3px) rotate(-45deg)
                scale(0.7);
            }
            .line2 {
              transform: translateX(-18px) translateY(-3px) rotate(45deg)
                scale(0.7);
            }
            .line3 {
              transform: translateY(0px) rotate(45deg) scale(0.7);
            }
            .line4 {
              transform: translateY(0px) rotate(-45deg) scale(0.7);
            }
            .line5 {
              transform: translateX(18px) translateY(3px) rotate(45deg)
                scale(0.7);
            }
            .line6 {
              transform: translateX(-18px) translateY(3px) rotate(-45deg)
                scale(0.7);
            }
            .x {
              transition: transform 400ms 100ms;
              transform: scale(1);
            }
          }
        }
        .plate4 {
          .x {
            transition: transform 400ms;
          }
          .line {
            transform-origin: 50%;
            transition: transform 400ms 100ms;
          }
        }
      }

      .chaveMenu ~ .itensMenu {
        display: none;
      }

      .chaveMenu:checked ~ .itensMenu {
        display: flex;
      }

      .itensMenu {
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 10;
        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          li {
            text-align: center;
            margin: 24px;
            a {
              font-size: 2.5em;
              font-weight: 100;
            }
          }
        }
      }
    }
  }
}

header.topoPequeno {
  transition: 0.2 ease;
  background: #fffd;
  nav {
    padding: 6px;
    .logo {
      svg {
        transition: 0.5s ease;
        width: 75px;
      }
    }
  }
}

section {
  padding: 24px 12px;
}

div.link {
  padding-top: 72px;
}

section.a {
  padding-top: 152px;

  .container {
    flex-direction: column;
  }
  .texto {
    margin-top: 38px;
    h1:after {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      top: -20px;
      left: -15px;
      z-index: -1;
      border: 5px solid #ff0800;
      border-radius: 50%;
    }
    h1 {
      padding: 12px 24px 0;
      margin-bottom: 24px;
      position: relative;
      color: #ff0800;
    }

    h2 {
      padding: 0px 24px;
      margin-bottom: 38px;
      font-weight: 100;
    }

    p {
      width: fit-content;
      padding: 12px 24px;
      margin: 24px;
      background: #ff0800;
      border-radius: 10px;
      box-shadow: 0 5px 15px 5px #ff080033;

      a {
        color: #fff;
        font-size: 1.3em;
        font-weight: 900;
      }
    }
  }

  .slide:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: -1;
    border: 5px solid #ff0800;
    border-radius: 50%;
  }

  .slide {
    position: relative;

    .aSlide {
      position: relative;
      overflow: hidden;
      height: 50%;
      border-radius: 10px;
      color: #fff;
      text-align: center;
      box-shadow: 0 5px 10px #0002;
      .slider {
        height: 100%;
        white-space: nowrap;
        font-size: 0;
        transition: 0.8s;
        & > * {
          display: inline-block;
          height: 266px;
          width: 100%;
        }
      }
      .prevNext  {
        position: absolute;
        z-index: 1;
        top: 50%;
        width: 100%;
        height: 0;
        & > div {
          & + div {
            visibility: hidden;
          }
        }
        a {
          position: absolute;
          width: 38px;
          height: 38px;
          line-height: 38px;
          text-align: center;
          opacity: 0.7;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 0;
          &:hover {
            opacity: 1;
          }
          & + a {
            left: auto;
            right: 0;
          }
          svg {
            fill: #fff;
          }
        }
      }
      .bullets {
        position: absolute;
        z-index: 2;
        bottom: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        div.dot {
          display: inline-block;
          width: 24px;
          height: 10px;
          line-height: 30px;
          text-decoration: none;
          text-align: center;
          background: rgba(255, 255, 255, 0.5);
          -webkit-transition: 0.3s;
          transition: 0.3s;

          &.active {
            width: 48px;
            background: #fff;
            transition: 0.5 ease;
          }
          &:hover {
            background: rgba(255, 255, 255, 0.7) !important;
          }
        }
      }
      div.dot {
        border-radius: 10px;
        margin: 0 6px;
      }
    }
  }
}
section.b {
  background: linear-gradient(35deg, #b90707, #ff0800);
  .servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .itens {
      width: 266px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 24px;
      margin: 12px 24px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0 5px 15px 2px #fff3;

      .imagem {
        width: 100px;
        margin-bottom: 12px;
        padding: 12px;
        svg {
          width: 100%;
        }
      }

      h3 {
        font-weight: 100;
      }
    }
    .carro {
      width: 125%;
      margin-top: -38px;
    }
  }
}

section.c {
  padding-bottom: 0;
  margin-top: 48px;

  .container {
    flex-direction: column;
  }

  .titulo:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: -20px;
    right: -5px;
    z-index: -1;
    border: 5px solid #ff0800;
    border-radius: 50%;
  }
  .titulo {
    margin-bottom: 24px;
    position: relative;

    h1 {
      padding: 12px;
      position: absolute;
      bottom: 0;
      color: #fff;
    }

    h2 {
      padding: 0 24px;
      margin-bottom: 24px;
      font-weight: 100;
    }
    .imagem {
      .caixaImagem {
        overflow: hidden;
        border-radius: 10px;
      }
    }
  }
  .texto {
    & > * {
      padding: 0 24px;
      margin-bottom: 12px;
      line-height: 1.5em;
    }
  }
}

section.ca {
  padding-top: 0;
  .tresColunas {
    padding: 24px;

    div {
      padding: 24px;
      margin-bottom: 24px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0 5px 10px 5px #00000009;

      h2 {
        margin-bottom: 12px;
        color: #ff0800;
      }
    }

    div:nth-child(2) {
      position: relative;
      box-shadow: 0 5px 15px 5px #0000000d;
      z-index: 2;
    }

    div:nth-child(2):after {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      top: -10px;
      right: -5px;
      z-index: -1;
      border: 5px solid #ff0800;
      border-radius: 50%;
    }
  }
}

section.d {
  .container {
    flex-direction: column;
  }
  .titulo {
    position: relative;

    h1:after {
      content: "";
      width: 50px;
      height: 50px;
      position: absolute;
      top: -45px;
      left: -25px;
      z-index: -1;
      border: 5px solid #ff0800;
      border-radius: 50%;
    }
    h1 {
      padding: 0 24px;
      font-weight: 100;
    }
  }
  .processo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .items {
      width: 100%;
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-areas:
        "numero tituloItem"
        "numero textoItem";
      margin: 12px 0;
      padding: 12px;
      border-radius: 10px;
      box-shadow: 0 5px 5px #ff080011;

      .numero {
        grid-area: numero;
        width: 100px;
        display: flex;
        align-items: center;
        padding: 6px;
        color: #ff0800;

        p {
          font-family: Bebas Neue;
          font-size: 5em;
        }
      }
      .tituloItem {
        grid-area: tituloItem;
        margin-bottom: 6px;
      }
      .textoItem {
        grid-area: textoItem;
      }
    }
  }
}

section.e {
  background: linear-gradient(35deg, #b90707, #ff0800);
  .imagem {
    display: none;
  }

  .formulario {
    h1 {
      padding: 0 24px;
      margin-bottom: 24px;
      color: #fff;
    }

    p {
      padding: 24px;
      color: #fff;
      line-height: 1.5em;
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 12px;

      input,
      textarea {
        width: 100%;
        padding: 12px;
        margin: 6px 0;
        border-radius: 10px;
      }

      textarea {
        height: 100px;
      }

      button {
        width: fit-content;
        align-self: flex-end;
        padding: 12px 24px;
        margin: 24px 0 0;
        background: #fff;
        font-weight: 900;
        border-radius: 10px;
        box-shadow: 0 7px 15px 5px #fff3;
      }
    }
  }
}

section.f {
  .container {
    align-items: center;
  }

  .texto {
    width: 62%;
    padding-right: 12px;

    p {
      font-size: 1.5em;
      font-weight: 100;
    }

    div.whatsapp {
      width: fit-content;
      padding: 12px 24px;
      margin: 24px 0;
      background: #ff0800;
      border-radius: 10px;
      box-shadow: 0 5px 15px 5px #ff080033;

      a {
        font-size: 1.3em;
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 900;
      }

      svg {
        width: 24px;
        margin-left: 12px;
        fill: #fff;
      }
    }
  }
  .imagem {
    width: 38%;
    .caixaImagem {
      width: 200%;
      margin-left: -50px;
      position: relative;
      z-index: -1;
    }
  }
}

footer {
  padding: 12px;
  background: #0001;
  text-align: center;

  .logo {
    svg {
      width: 125px;
    }
  }

  > * {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #fff;

    p,
    li {
      margin-bottom: 6px;
    }
  }

  > *:last-child {
    padding-bottom: 0;
    margin-bottom: 12px;
    border-bottom: none;
  }
}

@media screen and (min-width: 650px) {
  header {
    nav {
      max-width: 1520px;
      margin: auto;

      .logo {
        svg {
          width: 175px;
        }
      }

      .menu {
        .chaveMenu,
        .iconeMenu {
          display: none;
        }

        .chaveMenu ~ .itensMenu {
          display: flex;
        }

        .itensMenu {
          position: relative;
          ul {
            flex-direction: row;
            li {
              text-align: center;
              margin: 12px;
              margin-right: 24px;
              a {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }

  header.topoPequeno {
    nav {
      .logo {
        svg {
          width: 125px;
        }
      }
      .itensMenu {
        background: none;
      }
    }
  }

  section.a {
    .container {
      flex-direction: row-reverse;
      align-items: center;
    }
    .texto {
      width: 50%;
    }
    .slide {
      width: 60%;
      .aSlide {
        height: 100%;
        .slider {
          & > * {
            height: 342px;
          }
        }
      }
    }
  }
  section.b {
    .container {
      justify-content: center;
    }
    .servicos {
      flex-direction: row;
      flex-wrap: wrap;

      .itens {
        max-width: 190px;
        min-height: 288px;
        margin: 10px;
      }

      .carro {
        max-width: 304px;
        width: 100%;
        margin-top: -38px;
        margin-left: -48px;
        margin-right: -48px;
        .imagem {
          width: 100%;
        }
      }
    }
  }

  section.c {
    .container {
      flex-direction: row;
      align-items: center;

      .titulo {
        width: 50%;
      }
      .texto {
        width: 50%;
        padding: 48px;
      }
    }
  }

  section.ca {
    .tresColunas {
      height: fit-content;
      display: flex;

      div:nth-child(2) {
        height: 100%;
        margin: 0 24px 24px;

        h1 {
          margin-bottom: 36px;
        }
      }
    }
  }
  section.d {
    .titulo {
      margin: 24px 0 48px;
    }
    .processo {
      flex-direction: row;
      .items {
        width: calc(100% / 3);
        max-width: 266px;
        margin: 12px;
      }
    }
  }
  section.e {
    .container {
      align-items: flex-end;
    }
    .imagem {
      display: none;
    }
    .formulario {
      padding-left: 38px;
    }
  }
  section.f {
    padding: 38px;
    .texto {
      padding-right: 38px;
    }
    .imagem {
      .caixaImagem {
        width: 100%;
      }
    }
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

    > * {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: none;
    }

    > *:last-child {
      width: 100%;
      padding-top: 12px;
      border-top: 1px solid #fff;
    }
  }
}

@media screen and (min-width: 820px) {
  header {
    nav {
      max-width: 1520px;
      margin: auto;

      .menu {
        .chaveMenu,
        .iconeMenu {
          display: none;
        }

        .chaveMenu ~ .itensMenu {
          display: flex;
        }

        .itensMenu {
          position: relative;
          ul {
            flex-direction: row;
            li {
              text-align: center;
              margin: 12px;
              margin-right: 24px;
              a {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
  section.a {
    .container {
      flex-direction: row-reverse;
      align-items: center;
    }
    .texto {
      width: 50%;
    }
    .slide {
      .aSlide {
        height: 100%;
        .slider {
          & > * {
            height: 494px;
          }
        }
      }
    }
  }
  section.b {
    .container {
      justify-content: center;
    }
    .servicos {
      flex-direction: row;
      flex-wrap: wrap;

      .itens {
        max-width: 266px;
        min-height: 288px;
        margin: 10px;
      }

      .carro {
        max-width: 266px;
        width: 100%;
        margin: 6px;
        margin-left: -38px;
        .imagem {
          width: 100%;
        }
      }
    }
  }
  section.c {
    .container {
      flex-direction: row;
      align-items: center;

      .titulo {
        width: 50%;
      }
      .texto {
        width: 50%;
        padding: 48px;
      }
    }
  }
  section.d {
    .titulo {
      margin: 24px 0 48px;
    }
    .processo {
      flex-direction: row;
      .items {
        width: calc(100% / 3);
        max-width: 304px;
        margin: 24px;
      }
    }
  }
  section.e {
    .container {
      align-items: flex-end;
    }
    .imagem {
      display: block;
      margin-left: -76px;
      width: 50%;
      height: 100%;
      position: relative;
      .caixaImagem {
        height: 722px;
        position: absolute;
        bottom: -24px;
      }
    }
    .formulario {
      padding-left: 38px;
    }
  }
  section.f {
    .texto {
      padding-right: 38px;
    }
    .imagem {
      .caixaImagem {
        width: 100%;
      }
    }
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

    > * {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: none;
    }

    > *:last-child {
      width: 100%;
      padding-top: 12px;
      border-top: 1px solid #fff;
    }
  }
}
